.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color:#3b3636;
  /*background-image: url("/src/tft-wallpaper.jpg");*/
  background-size:cover;
  background-repeat: no-repeat;
  text-align: center;
}

form {
  display:table;
  display:inline-block;
}


label {
  display:table-cell;
  text-align: center;
  font-weight: bold;
}

input {
  display:table-cell;
}

p {
  color:white;

}

.footer {
  font-size:smaller;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  color: white;
  text-align: center;
  padding:0 150px;
  box-sizing: border-box;
  margin-bottom: 0;
  padding-top:0;
  margin:0;
}

.disclaimer {
  margin-bottom: 0px;
  margin-top:10px;
}

.contact {
  margin:0;
  padding-top:2px;
  padding-bottom: 10px;
}